
<!-- contact -->
    <section class="contact py-lg-4 py-md-4 py-sm-3 py-3" id="Review">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-2">Review</h3>
            <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
                <h6>Cảm nhận của bạn!</h6>
            </div>
            <div class="row">
                <div class="col-lg-6 container-fulid">
                    <div class="address_mail_footer_grids">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3539.812628729253!2d153.014155!3d-27.4750921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a0835840a2f%3A0xdd5e3f5c208dc0e1!2sMelbourne+St%2C+South+Brisbane+QLD+4101%2C+Australia!5e0!3m2!1sen!2sin!4v1492257477691"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 contact-form">
                    <form action="@Url.Action("Thembinhluan", "BinhLuan")" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group contact-forms">
                                <input type="text" name="TenNguoiBinhLuan" class="form-control" placeholder="Họ và tên" required="">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group contact-forms">
                                @Html.Action("Luachondiadiem", "DiaDiem")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group contact-forms">
                                <input type="tel" class="form-control" placeholder="Số diện thoại" name="SDT">

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group contact-forms">
                                <input type="email" class="form-control" placeholder="Email" name="Email">
                            </div>
                        </div>
                        <div class="form-group contact-forms">
                            <textarea class="form-control" placeholder="Meassage" required="" name="BinhLuan1"></textarea>
                        </div>
                        <button type="submit" class="btn sent-butnn btn-lg">Send</button>
                        <p>@ViewBag.TBBL</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="container alert-success" role="alert">
            <p>@ViewBag.TBBL</p>
        </div>
    </section>
<!-- //contact -->
