@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>HIẾU</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Adventure Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);


        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--booststrap-->
    <link href="~/Content/web/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-5.10.2-web/fontawesome-free-5.10.2-web/css/all.min.css" rel="stylesheet" />
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="~/Content/web/css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="~/Content/web/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>

<body>
    <!-- //banner -->
    <div class="banner-left-side" id="home" style="background-image: url('../../HinhANH/Suoimo1.jpg')">;
">
        <!-- header -->
        <div class="headder-top">
            <!-- nav -->
            <nav>
                <div id="logo">
                    <h1>
                        <a href="/HienThi/Index">ĐỨC HIẾU</a>
                    </h1>
                </div>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                    <li class="active">
                        <a href="/HienThi/Index">Trang chủ</a>
                    </li>
                    @if (Session["ktra"] == null)
                    {
                        <li>
                            <a href="#service">Địa điểm</a>
                        </li>
                        <li>
                            <a href="#ksxn">Khách sạn xem nhiều</a>
                        </li>
                    }
                    <li>
                        <a href="#Review">Review</a>
                    </li>
                    @if(Session["ad"] != null || Session["ad1"] != null)
                    {
                        <li>
                            <a href="/Admin/Admin/Index">Quản trị</a>
                        </li>
                    }
                </ul>
            </nav>
            <!-- //nav -->
        </div>
        <!-- //header -->
        <!-- banner -->
        <div class="main-banner">
            <div class="container">
                <div class="banner-position-main">

                    <div class="banner-right-txt">
                        <h5 class="mb-sm-3 mb-2"><i>Tìm kiếm khách sạn tại</i></h5>
                        <h1 style="color: #00CC00; font-family: 'Bookman Old Style'   "><b>ĐỒNG NAI</b>&nbsp;<a href="#timkiem" class="btn btn-danger" style="color: white;width: 50%; height: 40px"><b>BẮT ĐẦU</b></a></h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    @RenderBody()
    <!--//blog -->  
    <!-- booking -->
    <br />
    <!--//booking -->
    <section class="subscribe py-lg-4 py-md-4 py-sm-3 py-3" id="timkiem">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-2 clr">
               Tìm kiếm
            </h3>
            <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
                <h6>Địa điểm và khách sạn</h6>
            </div>
            <div class="newsletter-footers">
                <form action="@Url.Action("TimKiemKS", "TimKiem")">
                    <input type="text" name="txtTimKiem" style="width: 67%;height: 49px" placeholder="Vui lòng nhập địa điểm hoặc khách sạn..." required="">
                    <button type="submit" class="btn subscribe-butn">Tìm kiếm</button>
                </form>
            </div>
        </div>
    </section>
    @Html.Action("Thembinhluan", "BinhLuan")
    <section class="footer-w3layouts-bottem py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">

            <div class=" footer-top mt-3 text-center">
                <p>
                    <span>Address</span> : Melbourne St,South
                    <br>Birbane 4101 Austraila.
                </p>
                <p class="pt-2">
                    <span> Phone</span> : +(000) 123 4565 32
                </p>
                <p class="pt-2">
                    <span>Email</span> :
                    <a href="mailto:info@example.com">info@example1.com</a>
                </p>
            </div>
            <div class="social-icons text-center mt-md-4 mt-3">
                <ul>
                    <li class="facebook">
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li class="rss">
                        <a href="#">
                            <span class="fa fa-rss"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- move icon -->
            <div class="text-center mt-lg-5 mt-md-4 mt-3">
                <a href="#home" class="move-top text-center mt-3">
                    <span class="fa fa-arrow-up" aria-hidden="true"></span>
                </a>
            </div>
            <!--//move icon -->
        </div>
    </section>
    <!--footer-copy-right -->
    <footer class="bottem-wthree-footer text-center py-md-4 py-3">
        <p>
            © 2019 Adventure. All Rights Reserved | Design by
            <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
        </p>
    </footer>
    <!--//footer-copy-right -->
</body>

</html>